body{
    margin: 0;
    padding:0;
    overflow-x: hidden;
}



.learntitle{
    position: sticky;
    display: flex;
    font-size: 80px;
    font-weight: 700;
    justify-content: center;
    font-family: 'Peddana', serif;
    color:darkorange;
    margin-top: 150px; 
    text-decoration: none;
}

h2{
    display: flex;
    font-size:14px;
    justify-content: center;
    color: black;
    margin-top: 20px;
    margin-left: 20px;
}


.line-break{
    position: sticky;
    width: 65vw;
    size: 1px;
    margin-top: 100px;
   
}
.line-brk1{
    position: sticky;
    width: 65vw;
    size: 1px;
    margin-top: 1px;
}

.leftbutton{
    position: relative;
   display: flex;
   justify-content: center;
   padding:5px;
    width:8%;
    height: 100px;
    font:18px;
    color: white;
    font-weight: 700;
    font-family:'Noto Serif', serif;
    background-color: gray;
    height: min-content; 
   margin-left: 220px;
   margin-top: -1240px;
}
h4{
    display: flex;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Peddana', serif;
    color: black;
    position: relative;
    margin-left: 220px;
    top:0px;
    cursor: pointer;
}
h4:hover{
    color:midnightblue;
    text-transform: uppercase;
    
}

p4{
    display: flex;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Peddana', serif;
    color: black;
    margin-left: 920px;
    max-width: 280px;
    margin-left:220px;
    top:5px;
}

.lineside{
    position: sticky;
    width: 21vw;
    size: 1px;
    position: relative;
    margin-left: 220px;
    top:0px;
}

.leftbutton-2{
    position: relative;
   display: flex;
   justify-content: center;
   padding:5px;
    width:8%;
    height: 100px;
    font:18px;
    color: white;
    font-weight: 700;
    font-family:'Noto Serif', serif;
    background-color: gray;
    height: min-content; 
   margin-left: 220px;
   margin-top: 80px;

}

h5{
    display: flex;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Peddana', serif;
    color: black;
    position: relative;
    margin-left: 220px;
    top:0px;
    cursor: pointer;
}
h5:hover   {
    
    color:midnightblue;
    text-transform: uppercase;
}

p5{
    display: flex;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Peddana', serif;
    color: black;
    margin-left: 920px;
    max-width: 280px;
    margin-left:220px;
    top:5px;

}

.line-side2{
    position: sticky;
    width: 21vw;
    size: 1px;
    position: relative;
    margin-left: 220px;
    top:0px;
}

.leftbutton-3{
    position: relative;
   display: flex;
   justify-content: center;
   padding:5px;
    width:8%;
    height: 100px;
    font:18px;
    color: white;
    font-weight: 700;
    font-family:'Noto Serif', serif;
    background-color: gray;
    height: min-content; 
   margin-left: 220px;
   margin-top: 60px;

}
h6{
    display: flex;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Peddana', serif;
    color: black;
    position: relative;
    margin-left: 220px;
    margin-top:30px;
    cursor: pointer;

}

h6:hover{
    color:midnightblue;
    text-transform: uppercase;
    border: indigo;
    
}

p6{
    display: flex;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Peddana', serif;
    color: black;
    margin-left: 920px;
    max-width: 280px;
    margin-left:220px;
    margin-top:-30px;

}
.doublestart{
    position: sticky;
    width: 21vw;
    size: 1px;
    position: relative;
    margin-left: 220px;
    top:0px;
}

.enddouble{
    position: sticky;
    width: 21vw;
    size: 1px;
    position: relative;
    margin-left: 220px;
    top:0px;
}

.smoll1{
    position: relative;
    float:left;
    height: 120px;
    width:120px;
    margin-left: 220px;
    top:50px;
}

p7{
    display: flex;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Peddana', serif;
    color: black;
    position: relative;
    max-width: 210px;
    margin-left:310px;
    margin-top:60px;
    flex-direction: column;
    padding-left: 8px;
}

p8{
    display: flex;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Peddana', serif;
    color: black;
    margin-left: 220px;
    max-width: 350px;
    position: relative;
}

.moarLearn{
    font:14px;
    font-family:'Noto Serif', serif;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color:orangered ;
    width:12%;
    height:35px;
    position: relative;
    margin-left: 220px;
    margin-top: 20px;
    padding:6px 6px;
    cursor: pointer;
   
}
.moarLearn:hover{
    background-color:turquoise;
    transition: ease;
    transition-duration: .5s;
}

.brakey {
    position: sticky;
    width: 21vw;
    size: 1px;
    position: relative;
    margin-left: 220px;
    top:20px;
}

h7{
    display: flex;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Peddana', serif;
    color: black;
    position: relative;
    margin-left: 220px;
    margin-top:30px;
    cursor: pointer;

}

h7:hover{

    color:midnightblue;
    text-transform: uppercase;
    
}

.smollbrad{
    position: relative;
    float:left;
    height: 120px;
    width:120px;
    margin-left: 220px;
    top:20px;
}


p9{
    display: flex;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Peddana', serif;
    color: black;
    max-width: 220px;
    margin-left:240px;
    margin-top:10px;
    padding-left: 10px;

}

p10{
    display: flex;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Peddana', serif;
    color: black;
    margin-left: 220px;
    max-width: 350px;
    position: relative;
}

.moarLearn2{
    font:14px;
    font-family:'Noto Serif', serif;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color:orangered ;
    width:12%;
    height:35px;
    position: relative;
    margin-left: 220px;
    margin-top: 20px;
    padding:6px 6px;
    cursor: pointer;
}

.moarLearn2:hover{
    background-color:turquoise;
    transition: ease;
    transition-duration: .5s;
}

.toptext{
    display: flex;
    font-size:24px;
    justify-content: center;
    position: relative;
    color: black;
    top: 153px;
    margin-left: 20px;
 
}

.toptext2{
    display: flex;
    font-size:24px;
    justify-content: center;
    position: relative;
    font-weight: 900;
    color: black;
    top: 125px;
    margin-left: 380px;
 
}

.toptext3{
    display: flex;
    font-size:24px;
    justify-content: center;
    position: relative;
    color: black;
    top: 98px;
    margin-left: 680px;
 
}

.doublewide{
    position: relative;
    display: flex;
    height: 270px;
    width: 600px;
    left: 600px;
    top:160px;
}

.undersnippet{
    position: relative;
    display: flex;
    left: 620px;
    top:200px;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Peddana', serif;
    color: black;
  
}

p11{
    position: relative;
    display: flex;
    left: 620px;
    top:200px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Peddana', serif;
    color: black;
    max-width: 600px;
}

p12{
    position: relative;
    display: flex;
    left: 620px;
    top:220px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Peddana', serif;
    color: black;
    max-width: 600px;
}

p13{
    position: relative;
    display: flex;
    left: 620px;
    top:250px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Peddana', serif;
    color: black;
    max-width: 600px;

}

p14{
    position: relative;
    display: flex;
    left: 620px;
    top:280px;
    font-size: 22px;
    font-weight: 800;
    font-family: 'Peddana', serif;
    color: black;
    max-width: 600px;
}

p15{
    position: relative;
    display: flex;
    left: 620px;
    top:280px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Peddana', serif;
    color: black;
    max-width: 600px;
}

.footer {
    display:flex;
    position: absolute;
    height: 500px;
    width: 100vw;
    background-color: lightgray;
    top:2400px;
    margin-bottom:0;
    padding-bottom:100px;
}

.blogcomment{
    display: flex;
    font-size: 28px;
    font-weight: 450;
    font-family: 'Peddana', serif;
    color: black;
    min-width: 300px;
    position: relative;
    left: 390px;
    margin-top:95px;
    min-width: 300px;
}

#bold{
    font:bolder;
    font-weight: 900;
    font-size: 26px;
    position: relative;
    display: inline;
    top:100px;
     left:330px;
     min-width: 300px;
}
p20{
    display: flex;
    position: relative;
    font-size: 18px;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    font-family: 'Peddana', serif;
    color: black;
    max-width: 500px;
    top: 150px;
    right: -10px;
}

.text{
    display: flex;
    position: relative;
    font-size: 25px;
    font-family:'Peddana', serif;
    top: -410px;
    left:-410px;
}

.text1{
    display: flex;
    position: relative;
    font-size: 25px;
    font-family:'Peddana', serif;
    top: -430px;
    left:-240px;
}

.msg{
    display:flex;
    position: relative;
    top:-400px;
    left:-410px;
}

.media{
    height: 30px;
    width:30px;
    position: relative;
    right:50px;
    top: 200px;
}
.media1{
    height:30px;
    width:30px;
    position: relative;
    right:50px;
    top:190px;

}
.media2{
    height:30px;
    width:30px;
    position: relative;
    right:50px;
    top:200px;

}

.media3{
    height:30px;
    width:30px;
    position: relative;
    bottom:50px;
    right:-230px;
}

.media4{
    height:30px;
    width:30px;
    position: relative;
    bottom:60px;
    right:-230px;
}

.media5{
    height:30px;
    width:30px;
    position: relative;
    bottom:60px;
    right:-230px;
}
.media6{
    height:30px;
    width:30px;
    position: relative;
    bottom:60px;
    right:-230px;
}

#drib{
position: relative;
font-size: 10px;
right:10px;
bottom:-165px;
}
#mail{
    position: relative;
    font-size: 10px;
    right:10px;
    bottom:-160px;

}
#fb{
    position: relative;
    font-size: 10px;
    right:10px;
    bottom:-165px;
}
#address{
    position: relative;
    font-size: 10px;
    left:270px;
    bottom:90px;
}
#IG{
    position: relative;
    font-size: 10px;
    left:270px;
    bottom:90px;
}
#num{
    position: relative;
    font-size: 10px;
    left:270px;
    bottom:90px;
}
#twitt{
    position: relative;
    font-size: 10px;
    left:270px;
    bottom:100px;
}
#sendmessage {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    font-family: 'Peddana', serif;
    color:white;
    font-size: 16px;
    font-weight: 600;
    background-color:darkorange;
    height: max-content;
    width: 160px;
    padding:5px 5px;
    position:relative;
    top: 400px;
    left:-885px;

}

#sendmessage:hover{
background-color:turquoise;
border-radius: 50%;
left:50px;
}

