* {
  margin: 0;
  padding: 0;
}

/* top flex Container centered column*/

#TopContentFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#continueTitle {
  font-size: 3em;
  font-weight: normal;
  font-family: "Noto Serif", serif;
  color: darkorange;
  font-weight: 600;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

/*line breaks under title */
#lineBreak {
  display: flex;
  position: relative;
  justify-content: center;
  width: 60vw;
  margin-top: 5em;
  margin-left: 15rem;
}

#lineBreak2 {
  display: flex;
  position: relative;
  justify-content: center;
  width: 60vw;
  margin-left: 15rem;
  margin-bottom: 10rem;
}
/* page right flex layout-column*/
#leftSidePage {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

#largeText {
  margin-bottom: 5rem;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
/*large picture css */
#firstImage {
  height: 30vh;
  width: 40vw;
  margin-bottom: 3rem;
}

#underImageText {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
  font-weight: 800;
}

p {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  max-width: 35rem;
}
/* Main Text size and line height*/
#mainText {
  line-height: 2;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* Right Side Column Styling*/
.rightWrap {
  float: right;
  max-width: 20rem;
  margin-right: 10rem;
  margin-top: -105rem
}
.rightWrapColumn {
  line-height: 1.2;
  margin: 1.5rem;
}
/*standard grey button style */
.sideButton {
  padding: 5px;
  width: 35%;
  height: 5vh;
  font: 18px;
  color: white;
  font-weight: 700;
  background-color: lightslategrey;
  margin-bottom: 2rem;
  cursor: pointer;
}

#SideButton {
  padding: 5px;
  width: 35%;
  height: 5vh;
  font: 18px;
  color: white;
  font-weight: 700;
  background-color: lightslategrey;
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

/* side line breaks*/
.sideLine {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#SideLine {
  margin-top: 5%;
  margin-bottom: 3rem;
}

#DoubleLine {
  margin-top: 2.5rem;
  margin-bottom: 0.2rem;
}

#DoubleLine_ {
  margin-bottom: 3.5rem;
}

/* grey button hover style*/
.sideButton:hover {
  background-color: mediumorchid;
  border-radius: 10%;
}

/* standard larger button styling*/
.learnSomething {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 500;
  background-color: orangered;
  width: 45%;
  cursor: pointer;
  height: fit-content;
  border: cadetblue 5px solid;
  border-radius: 5%;
  padding: auto;
  text-shadow: 0 0 5px black;
  margin-top: 2rem;
}
/* large button hover style*/
.learnSomething:hover {
  background-color: lightgreen;
}

.supaSmall {
  height: 15vh;
  width: 10vw;
  float: left;
  margin: 10px;
}

/*Start of footer styling here*/
.footer {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  margin-top: 18rem;
  width: 100vw;
  padding-top: 2rem;
  bottom:0;
}

#griditem1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-top: 25%;
}

.footerSubItemContainer {
  content: "";
  display: table;
  clear: both;
  padding-bottom: 25%;
}

#footerText {
  max-width: 315px;
  padding-left: 20px;
}

.rightSideFooter {
  float: right;

}

.textMediaList {
  width: 50%;
  float: left;
  max-width: 50%;
  padding-top: 3rem;
}

.mediaList {
  list-style: none;
}

.leftList {
  float: right;
}

#media,
#media1,
#media2 {
  height: 1.2rem;
  width: 1.2rem;
}

#media3,
#media4,
#media5,
#media6 {
  height: 1.2rem;
  width: 1.2rem;
}

#learnMoreButton {
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 500;
  background-color: orangered;
  width: 10rem;
  cursor: pointer;
  height: fit-content;
  border: cadetblue 5px solid;
  border-radius: 5%;
  padding: auto;
  text-shadow: 0 0 5px black;
  margin-bottom: 2rem;
}

#learnMoreButton:hover {
  background-color: lightgreen;
}

#inputText2 {
  float: right;
  margin-bottom: 2rem;
  margin-top: -1.3rem;
}

#textMessage {
  margin-bottom: 3rem;
  margin-right: 2rem;
}
